<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.maytronics.zoho-checkin</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/maytronics/maytronics/zoho-automation/scripts/runZohoMonitor.sh</string>
    </array>
    
    <key>StandardOutPath</key>
    <string>/Users/maytronics/maytronics/zoho-automation/logs/zoho-checkin.log</string>
    
    <key>StandardErrorPath</key>
    <string>/Users/maytronics/maytronics/zoho-automation/logs/zoho-checkin-error.log</string>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
        <key>NODE_ENV</key>
        <string>production</string>
    </dict>
    
    <key>RunAtLoad</key>
    <true/>
    
    <key>KeepAlive</key>
    <true/>
</dict>
</plist>
